* {
    margin: 0;
}

.full_screen_background {
    width: 100vw;
    background-image: url(../src/assets/TheHikeClub-BGImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.banner {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.logo_text {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    text-align: center;
    color: beige;
}

.register_container,
.login_container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    display: flex;
    margin: auto;
    border: 2px white solid;
    border-radius: 10px;
    width: fit-content;
}

#form {
}

.form_container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
